<section class="block container">
    <footer class="footer">
      <ul class="list footer__list">
        <li>
          <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Products</h2>
              <svg class="icon icon--primary collapsible__icon">
                <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>
            </header>
            <div class="collapsible__content">
              <ul class="list">
                <li>WordPress Hosting</li>
                <li>Free Automated WordPress</li>
                <li>Migrations</li>
                <li>Domain Names</li>
                <li>Monthly Web Hosting</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Company</h2>
              <svg class="icon icon--primary collapsible__icon">
                <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>
            </header>
            <div class="collapsible__content">
              <ul class="list">
                <li>WordPress Hosting</li>
                <li>Free Automated WordPress</li>
                <li>Migrations</li>
                <li>Domain Names</li>
                <li>Monthly Web Hosting</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Support</h2>
              <svg class="icon icon--primary collapsible__icon">
                <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>
            </header>
            <div class="collapsible__content">
              <ul class="list">
                <li>WordPress Hosting</li>
                <li>Free Automated WordPress</li>
                <li>Migrations</li>
                <li>Domain Names</li>
                <li>Monthly Web Hosting</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
              <h2 class="collapsible__heading">Domains</h2>
              <svg class="icon icon--primary collapsible__icon">
                <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>
            </header>
            <div class="collapsible__content">
              <ul class="list">
                <li>WordPress Hosting</li>
                <li>Free Automated WordPress</li>
                <li>Migrations</li>
                <li>Domain Names</li>
                <li>Monthly Web Hosting</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="logo">
        <img src="/images/logo.svg" alt="The Logo" />
        <p>Copyright &#169 2020 mosh</p>
      </div>
    </footer>
  </section>